/* Width Responsiveness */

@media (max-width: 820px) {
  .left-info {
    margin-left: 1.5rem;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    /* justify-content: center; */
    margin: auto;
  }

  .left-info h1 {
    font-size: 5rem;
  }
}

/* Phones */

@media (max-width: 650px) {
  body {
    background: url('https://images.pexels.com/photos/1631678/pexels-photo-1631678.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center
      center/cover;
  }
  .left-info {
    width: 100%;
    position: absolute;
    bottom: 5%;
    text-shadow: 1px 1px 1px #888;
  }

  .left-info h1 {
    font-size: 4rem;
  }

  .left-info .location-info {
    padding: 20px;
  }

  .left-info .location-info h3 {
    font-size: 2rem;
  }

  .left-info p {
    font-size: 0.8rem;
  }

  .sidebar .cities,
  .sidebar .spacer,
  .sidebar .weather-details,
  .sidebar::before {
    display: none;
  }

  .sidebar {
    width: 100vw;
    max-width: 650px;
    backdrop-filter: blur(0px);
  }

  .sidebar .status-list {
    margin-bottom: 13px;
    color: #fff;
    padding: 0 15px;
  }

  .sidebar #sidebar-form {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10px 15px;
    color: #fff;
  }

  .sidebar #sidebar-form input,
  .sidebar #sidebar-form input::placeholder {
    color: #fff;
  }

  .sidebar .status-list {
    text-shadow: 1px 1px 5px #333;
  }
}

/* Height Responsiveness */

@media (max-height: 550px) {
  .sidebar ul li {
    padding: 5px 0;
  }

  .sidebar .spacer {
    margin: 2px auto;
  }

  .sidebar .spacer:last-child {
    margin-bottom: 10px;
  }

  .sidebar #sidebar-form {
    margin-top: 8px;
  }

  .sidebar h4 {
    padding: 4px 0;
    margin: 0;
  }
}

@media (min-height: 720px) {
  #sidebar .sidebar-container h4 {
    font-size: 4rem;
  }

  .sidebar .spacer {
    /* width: 50%; */
    height: 2px;
  }
}
